# Logs
logs/
*.log
*.out
*.tmp

# Frontend build artifacts
web/node_modules/
web/build/
web/dist/
web/.cache/

# Local Go build cache (optional)
**/.gocache/

# Local binaries (optional)
cmd/arbitrage-analyzer/arbitrage-analyzer-linux-amd64
csqaq-sampler/csqaq-sampler-linux-amd64
